<div class="d-flex flex-column justify-content-center">
  <table class="table table-borderless text-break">
    <tbody>
      <tr>
        <td><%= image_tag end_user.get_profile_image, size: "100x100", class:"user-profile" %></td>
      </tr>

      <tr>
        <td><b><%= end_user.name %></b></td>
      </tr>

      <tr>
        <td><%= link_to "ユーザー編集", edit_end_user_path(end_user), class:"btn btn-primary border-warning rounded-pill" %></td>
      </tr>

      <tr>
        <td><%= link_to "グループ作成", new_group_path, class:"btn btn-success border-warning rounded-pill" %></td>
      </tr>

      <tr>
        <td>
        </td>
      </tr>
    </tbody>
  </table>

  <h5><strong>マイグループ</strong></h5>
  <div class="m-auto group-index overflow-auto" style="height:625px; width: 100%; background-color: #393939;">
    <% user_groups.each do |user_group| %>
      <%= link_to group_path(user_group) do %>
        <%= image_tag user_group.get_group_image, size: "50x50", class:"mt-4" %>
      <% end %>
      <%= link_to group_path(user_group), class:"text-break my-2 btn border border-warning rounded-pill text-dark text-decoration-none", style:"width: 90%; background-color: #e8dece;" do %>
        <%= user_group.name %>
      <% end %><br>
    <% end %>
  </div>
</div>