<div class="container">
  <div class="row">
    <div class="col-md-3">
      <table class="table">
        <tbody>
          <tr>
            <td><%= image_tag @end_user.get_profile_image, size: "100x100" %></td>
          </th>
          <tr>
            <td><%= @end_user.name %></td>
          </tr>
          <tr>
            <td><%= link_to "ユーザー編集", edit_end_user_path(@end_user), class:"btn btn-success" %></td>
          </tr>
          <% @end_user_groups.each do |end_user_group| %>
            <tr>
              <th>
                <h4>マイグループ</h4>
              </th>
            </tr>
            <tr>
              <td>
                <%= link_to group_path(end_user_group) do %>
                  <%= end_user_group.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td><%= link_to "グループ作成", new_group_path, class:"btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-7">
      マイメモリー一覧
      <%= link_to "新しくメモる", new_memory_path, class:"btn btn-success" %>
      <%= paginate @end_user_memories %>
    </div>
    <div>
      <% @end_user_memories.each do |end_user_memory| %>
        <%= end_user_memory.memory_tags.name %>
        <%= link_to memory_path(end_user_memory) do %>
          <%= image_tag end_user_memory.get_memory_image, size: "50x50" %>
          <%= end_user_memory.title %>
        <% end %>
        <%= end_user_memory.memory_favorites %>
      <% end %>
    </div>
  </div>
</div>