<table class="table text-truncate table-borderless table-striped table-active">
  <thead>
    <tr>
      <th class="col-1"></th>
      <th class="col-2">グループ名</th>
      <th class="col-1">オーナー</th>
      <th class="col-3">グループ紹介文</th>
      <th class="col-1">メンバー</th>
      <th class="col-3"></th>
    </tr>
  </thead>
  <tbody class="text-light">
    <% groups.each do |group| %>
      <tr>
        <td><%= image_tag group.get_group_image, size: "50x50" %></td>
        <td class="text-light"><%= group.name %></td>
        <td class="text-light"><%= group.owner.pop %></td>
        <td class="text-light"><%= group.introduction %></td>
        <td class="text-light"><%= group.end_users.count %>名</td>
        <% if current_end_user.name == "guestuser" %>
        <% else %>
          <% if group.already_joined?(current_end_user) %>
          <td>
            <%= link_to "マイグループへ", group_path(group), class:"btn btn-secondary rounded-pill border border-warning" %>
          </td>
          <% else %>
            <% if group.already_requested?(current_end_user) %>
              <td>
                <%= link_to "リクエスト解除", group_join_request_path(group, group.join_requests), class:"btn btn-danger rounded-pill border border-warning", method: :delete %>
              </td>
            <% else %>
              <td>
                <%= link_to "加入リクエスト", group_join_requests_path(group), class:"btn btn-primary rounded-pill border border-warning", method: :post %>
              </td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>