<div class="container text-center">
  <h6 class="page-title mb-4  mt-3 mx-auto bg-secondary border border-primary rounded text-light">
    <b>グループ編集</b>
  </h6>
  <%= form_with model:@group do |f| %>

    <div class="field">
      <%= f.label :group_image, "グループ画像" %>
      <%= f.file_field :group_image, accept: "image/*" %>
    </div>

    <div class="field">
      <%= f.label :name, "グループ名" %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :introduction, "グループ紹介" %>
      <%= f.text_area :introduction %>
    </div>

    <div class="field">
      <%= f.submit "更新", class:"btn btn-primary" %>
    </div>

    <div class="field">
      <%= link_to "グループページに戻る", group_path(@group), class:"btn btn-secondary" %>
    </div>

  <% end %>
</div>