<div class="row d-flex flex-wrap justify-content-center">
  <div class="col-7">
    <table class="table table-borderless text-break table-active text-left">
      <tbody>
        <tr>
          <th><%= f.label :memory_image, "メモリー画像" %></th>
          <td colspan="2" class="text-light"><%= f.file_field :memory_image, accept: "image/*", class:"form-group" %></td>
        </tr>
        <tr>
          <th><%= f.label :title, "メモリータイトル" %></th>
          <td class="text-light"><%= f.text_field :title, placeholder:"３０文字以内", class:"form-group rounded" %></td>
          <td></td>
        </tr>
        <tr>
          <th><%= f.label :memo, "メモ" %></th>
          <td class="text-light"><%= f.text_area :memo, placeholder:"４００文字以内", class:"form-area form-group rounded" %></td>
          <td></td>
        </tr>
        <% if local_assigns[:memory] %>
          <tr>
            <td></td>
            <td class="text-light"><%= f.submit "更新する", class:"form-group btn btn-primary rounded-pill border border-warning" %></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="text-light"><%= link_to "メモリー詳細に戻る", group_group_memory_path(group, memory), class:"form-group btn btn-secondary rounded-pill border border-warning" %></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="text-light"><%= link_to "削除する", group_group_memory_path(group, memory), class:"form-group btn btn-danger rounded-pill border border-warning", method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
            <td></td>
          </tr>
        <% else %>
          <tr>
            <td></td>
            <td class="text-light"><%= f.submit "メモリー投稿", class:"form-group btn btn-success rounded-pill border border-warning" %></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="text-light"><%= link_to "グループページに戻る", group_path(group), class:"form-group btn btn-secondary rounded-pill border border-warning" %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>