<h6 class="page-title mb-4  mt-3 mx-auto bg-secondary border border-primary rounded text-light">
  <b>グループメモリー詳細</b>
</h6>
<div class="row d-flex flex-wrap justify-content-center">
  <div class="col-7">
    <table class="table table-borderless text-break table-active">
      <tbody>
        <tr>
          <td>投稿者</td>
          <td colspan="2" class="text-light"><%= @memory.end_user.name %></td>
        </tr>
        <tr>
          <td>メモリー画像</td>
          <td colspan="2" class="text-light"><%= image_tag @memory.get_memory_image, class:"post-memory"  %></td>
        </tr>
        <tr>
          <td>メモリータイトル</td>
          <td colspan="2" class="text-light"><%= @memory.title %></td>
        </tr>
        <tr>
          <td>メモ</td>
          <td colspan="2" class="text-light text-wrap"><%= @memory.memo %></td>
        </tr>
        <tr>
          <td></td>
          <% if current_end_user.name == @group.owner.pop || current_end_user == @memory.end_user %>
            <td colspan="2" class="text-light">
              <%= link_to "メモリー編集", edit_group_group_memory_path(@group, @memory), class:"btn btn-primary rounded-pill border border-warning" %>
            </td>
          <% end %>
        </tr>
        <tr>
          <td></td>
          <td colspan="2" class="text-light">
            <%= link_to "グループページに戻る", group_path(@group), class:"btn btn-secondary rounded-pill border border-warning" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
