<div class="container text-center">
  <h6 class="page-title mb-4  mt-3 mx-auto bg-secondary border border-primary rounded text-light">
    <% if @model == 'memory' %>
      <b>メモリー検索結果</b>
    <% elsif @model == 'group' %>
      <b>グループ検索結果</b>
    <% end %>
  </h6>

  <%= link_to "メモリー作成", new_memory_path, class:"btn btn-success w-25 h-25 mb-4 border border-warning rounded-pill text-light" %>

  <div class="row">
    <div class="col-12 d-flex flex-wrap justify-content-center">
      <div class="col-4">
        <%= render "public/end_users/user_info", user_groups: @user_groups, end_user: @end_user %>
      </div>
      <div class="col-8">
        <% if @model == 'memory' %>
          <%= render "public/end_users/memories", memories: @records %>
        <% elsif @model == 'group' %>
          <%= render 'public/groups/index', groups: @records %>
        <% end %>
      </div>
      <div class="text-light bg-dark rounded-pill w-25 d-flex justify-content-center">
        <%= paginate @records %>
      </div>
    </div>
  </div>
</div>