<div class="d-flex flex-wrap">
  <% @memories.each do |memory| %>
    <div class="mx-auto mb-3 text-truncate">
      <%= link_to admin_memory_path(memory) do %>
        <%= image_tag memory.get_memory_image, size: "200x150" %><br>
        <%= memory.title %><br>
      <% end %>
      <%= link_to admin_end_user_path(memory.end_user_id) do %>
        <%= memory.end_user.name %><br>
      <% end %>
    </div>
  <% end %>
</div>