<div class="container text-center">
  <h6 class="page-title text-truncate px-3 mb-4 mt-3 mx-auto bg-secondary border border-primary rounded text-light">
    <b>投稿一覧</b>
  </h6>

  <div class="row">
    <div class="col-12 d-flex flex-wrap justify-content-center">
      <div class="d-flex flex-wrap">
        <% @memories.each do |memory| %>
          <div class="mx-auto mb-3" style="width: 230px;">
            <%= link_to admin_memory_path(memory) do %>
              <%= image_tag memory.get_memory_image, size: "200x150", class:"post-memory" %>
            <% end %>
            <table class="table table-borderless table-sm text-truncate">
              <tbody>
                <tr>
                  <td>タイトル</td>
                  <td>
                    <span>
                      <%= link_to "#{memory.title}", admin_memory_path(memory), class:"text-light" %>
                    </span>
                  </td>
                </tr>

                <tr>
                  <td>投稿者</td>
                  <td class="text-light">
                    <span>
                      <%= link_to "#{memory.end_user.name}", admin_end_user_path(memory.end_user_id), class:"text-light" %>
                    </span>
                  </td>
                </tr>

              </tbody>
            </table>

          </div>
        <% end %>
      </div>
    </div>
    <div class="text-light bg-dark rounded-pill w-25 d-flex justify-content-center">
      <%= paginate @memories %>
    </div>
  </div>
</div>