<div class="row d-flex flex-wrap justify-content-center">
  <div class="col-7">
    <table class="table table-borderless text-break table-active text-left">
      <tbody>
        <tr>
          <th><%= f.label :memory_image, "メモリー画像" %></th>
          <td colspan="2" class="text-light"><%= f.file_field :memory_image, accept: "image/*", class:"form-group" %></td>
        </tr>
        <tr>
          <th><%= f.label :title, "メモリータイトル" %></th>
          <td class="text-light"><%= f.text_field :title, placeholder:"３０文字以内", class:"form-group rounded" %></td>
          <td></td>
        </tr>
        <tr>
          <th><%= f.label :memo, "メモ" %></th>
          <td class="text-light"><%= f.text_area :memo, placeholder:"４００文字以内", class:"form-group form-area rounded" %></td>
          <td></td>
        </tr>
        <tr class="text-center">
          <td colspan="3" class="text-light">
            <p>
              スペース(半角も可)で区切ると複数のタグ付けができます。<br>
              例：家族　記録用　☞　『家族』『記録用』<br>
            </p>
          </td>
        </tr>
        <% if local_assigns[:memory_tags] %>
          <tr class="text-center">
            <th></th>
            <th>
              <p>
                現在のタグ
              </p>
            </th>
            <th></th>
          </tr>
          <tr>
            <td></td>
            <td class="memory-tags-bg text-light">
              <% memory_tags.each do |tag| %>
                <span class="mx-2">
                  <%= link_to tag.name, memory_tag_tag_search_path(tag), class:"text-light" %>
                </span>
              <% end %>
            </td>
            <td></td>
          </tr>
        <% end %>
        <tr>
          <th><%= f.label :name, "タグ作成" %></th>
          <td class="text-light"><%= f.text_area :name, placeholder:"家族　記録用", class:"form-group form-area rounded" %></td>
          <td></td>
        </tr>
        <% if local_assigns[:memory_tags] %>
          <tr>
            <td></td>
            <td class="text-light"><%= f.submit "更新する", class:"form-group btn btn-primary rounded-pill border border-warning" %></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="text-light"><%= link_to "削除する", memory_path(memory), class:"form-group btn btn-danger rounded-pill border border-warning", method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
            <td></td>
          </tr>
        <% else %>
          <tr>
            <td></td>
            <td class="text-light"><%= f.submit "メモリー投稿", class:"form-group btn btn-success rounded-pill border border-warning" %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>