<div class="container text-center">
  <h6 class="page-title mb-4  mt-3 mx-auto bg-secondary border border-primary rounded text-light">
    <b>メモリー編集</b>
  </h6>
  <%= form_with model:@memory do |f| %>

    <div class="field">
      <%= f.label :memory_image, "メモリー画像" %>
      <%= f.file_field :memory_image, accept: "image/*" %>
    </div>

    <div class="field">
      <%= f.label :title, "メモリータイトル" %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :memo, "メモ" %>
      <%= f.text_area :memo %>
    </div>
    全角スペースで区切ると複数のタグ付けができます。※半角では区切れません。<br>
    例：家族　記録用☞　『家族』『記録用』 <br>
    家族 記録用　☞『家族 記録用』<br>
    <%= paginate @memory_tags %>
    <div class="field">
      <%= f.label :name, "タグ作成" %>
      <%= f.text_field :name %>
    </div>
    ※今までのタグも含めて、すべて入力してください。<br>
    (未入力だとタグが外れます)<br>
    現在のタグ：
    <% @memory_tags.each do |tag| %>
      <%= link_to tag.name, memory_tag_tag_search_path(tag) %>
    <% end %>

    <div class="field">
      <%= f.submit "更新", class:"btn btn-success" %>
    </div>
  <% end %>

  <%= link_to "削除する", memory_path(@memory), class:"btn btn-danger", method: :delete, data: {confirm: "本当に削除しますか？"} %>
</div>