<div class="container text-center">
  メモリー編集
  <%= form_with model:@memory do |f| %>

    <div class="field">
      <%= f.label :memory_image, "メモリー画像" %>
      <%= f.file_field :memory_image, accept: "image/*" %>
    </div>

    <div class="field">
      <%= f.label :title, "メモリータイトル" %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :memo, "メモ" %>
      <%= f.text_area :memo %>
    </div>
    半角スペースで区切ると複数のタグ付けができます。<br>
    例：家族 音楽 文芸 スポーツ 趣味 釣り<br>
    現在のタグ：
    <% @memory_tags.each do |tag| %>
      <%= link_to tag.name, memory_tag_tag_search_path(tag) %>
    <% end %>
    ※今までのタグも含めて、すべて入力してください。<br>
    (未入力だとタグが外れます)
    <%= paginate @memory_tags %>
    <div class="field">
      <%= f.label :name, "タグ作成" %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.submit "更新", class:"btn btn-success" %>
    </div>
  <% end %>

  <%= link_to "削除する", memory_path(@memory), class:"btn btn-danger", method: :delete, data: {confirm: "本当に削除しますか？"} %>
</div>