<h6 class="page-title mb-4  mt-3 mx-auto bg-secondary border border-primary rounded text-light">
  <b>メモリー一覧</b>
</h6>
<%= link_to "メモリー作成", new_memory_path, class:"btn btn-success w-25 h-25 mb-4 border border-warning rounded-pill text-light" %>
<p class="sort-bar w-25 mx-auto text-light bg-dark rounded rounded-pill">
  並び順
  | <%= link_to '新着順', memories_path(latest: "true") %>
  | <%= link_to '古い順', memories_path(old: "true") %>
  | <%= link_to 'いいね数順', memories_path(memory_favorite_count: "true") %>
</p>
<div class="row">
  <div class="col-12 d-flex flex-wrap justify-content-center">
    <div class="col-4">
      <%= render "public/end_users/user_info",user_groups: @user_groups, end_user: @end_user %>
    </div>
    <div class="col-8 d-flex flex-wrap">
      <%= render "public/end_users/memories", memories: @memories %>
    </div>
    <div class="text-light bg-dark rounded-pill w-25 d-flex justify-content-center">
      <%= paginate @memories %>
    </div>
  </div>
</div>