<div class="container text-center">
  新しくメモる

  <%= form_with model:@memory do |f| %>

    <div class="field">
      <%= f.label :memory_image, "メモリー画像" %>
      <%= f.file_field :memory_image, accept: "image/*" %>
    </div>

    <div class="field">
      <%= f.label :title, "メモリータイトル" %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :memo, "メモ" %>
      <%= f.text_area :memo %>
    </div>
    半角スペースで区切ると複数のタグ付けができます。<br>
    例：家族 音楽 文芸 スポーツ 趣味 釣り<br>

    <div class="field">
      <%= f.label :name, "タグ作成" %>
      <%= f.text_field :name, required: true %>
    </div>

    <div class="field">
      <%= f.submit "メモる", class:"btn btn-success" %>
    </div>

  <% end %>
</div>