<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= notice %>
      <table class="table">
        <tbody>
          <tr>
            <th>投稿ユーザー</th>
            <th><%= @memory.end_user.name %></th>
          </tr>
          <tr>
            <td>メモリー画像</td>
            <td><%= image_tag @memory.get_memory_image, size: "100x100" %></td>
          </tr>
          <tr>
            <td>メモリータイトル</td>
            <td><%= @memory.title %></td>
          </tr>
          <tr>
            <td>メモ</td>
            <td><%= @memory.memo %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= link_to "メモリー編集", edit_memory_path(@memory), class:"btn btn-primary" %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-7">
      <%= paginate @memory_comments %>
    </div>
    <div>
      <table>
        <tbody>
          <tr>
            <th>ユーザー</th>
            <th>コメント</th>
          </tr>
          <% @memory_comments.each do |memory_comment| %>
          <tr>
            <td><%= memory_comment.end_user.name %></td>
            <td><%= memory_comment.comment %></td>
            <td><%= link_to "削除", memory_memory_comment_path(memory_comment), class:"btn btn-danger", method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <%= form_with model:@memory_comment, url:memory_memory_comments_path(@memory.id), method: :post do |f| %>
          <%= f.label :comment, "コメント投稿" %>
          <%= f.text_field :comment %>
          <%= f.submit "コメント投稿", class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>