<div class="container text-center">
  <h6 class="page-title mb-4  mt-3 mx-auto bg-secondary border border-primary rounded text-light">
    <b>メンバー編集</b>
  </h6>
  <%= link_to "グループページに戻る", group_path(@group), class:"btn btn-secondary" %>

  <div class="row">
    <div class="col-12 d-flex flex-wrap justify-content-center">

      <div class="col-4">
        <table class="table">
          <tbody>
            <tr>
              <td><%= image_tag @group.get_group_image, size: "100x100" %></td>
            </tr>

            <tr>
              <td><%= @group.name %></td>
            </tr>

            <tr>
              <td><%= link_to "グループ編集", edit_group_path(@group), class:"btn btn-primary" %></td>
            </tr>

            <tr>
              <td>
                <h4>グループメンバー</h4>
              </td>
            </tr>

            <% @group_users.each do |group_user| %>
              <tr>
                <td>
                  <%= link_to group_group_user_path(@group, group_user), method: :delete, data: {confirm: "本当に『#{group_user.name}さん』を退出させますか？" }, class:"text-danger text-decoration-none" do %>
                    <i class="fas fa-minus-circle"></i>
                  <% end %>
                  <%= image_tag group_user.get_profile_image, size: "39x39" %>
                  <%= group_user.name %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="col-8">
        <div class="d-flex flex-wrap">
          <%= paginate @join_requests %>
        </div>
        <table>
          <tbody>
            <tr>
              <th>ユーザー画像</th>
              <th>ユーザ名</th>
              <th></th>
              <th></th>
            </tr>
            <% @join_requests.each do |join_request| %>
              <tr>
                <td><%= image_tag join_request.end_user.get_profile_image, size: "50x50" %></td>
                <td><%= join_request.end_user.name %></td>
                <td>
                  <%= link_to "承認", group_group_user_approve_path(join_request.group, join_request.end_user), class:"btn btn-primary", method: :post %>
                </td>
                <td>
                  <%= link_to "拒否", group_group_user_refuse_path(join_request.group, join_request.end_user), class:"btn btn-danger", method: :delete, date: {confirm: "本当に拒否しますか？"} %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>