<h6 class="page-title text-truncate px-3 mb-4 mt-3 mx-auto bg-secondary border border-primary rounded text-light">
  <b>メンバー編集</b>
</h6>
<%= link_to "グループページに戻る", group_path(@group), class:"btn btn-secondary w-25 h-25 mb-4 border border-warning rounded-pill text-light" %>
<div class="row">
  <div class="col-12 d-flex flex-wrap justify-content-center">
    <div class="col-4">
      <div class="d-flex flex-column justify-content-center">
        <table class="table table-borderless text-break">
          <tbody>
            <tr>
              <td><%= image_tag @group.get_group_image, size: "100x100", class:"group-profile" %></td>
            </tr>
            <tr>
              <td><b><%= @group.name %></b></td>
            </tr>
            <tr>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
        <h5><strong>グループメンバー</strong></h5>
        <div class="m-auto group-index overflow-auto">
          <% @group_users.each do |group_user| %>
            <%= image_tag group_user.get_profile_image, size: "50x50", class:"mt-4"  %>
            <p class="index-btn-dummy d-flex align-items-center justify-content-center text-break my-2 border mx-3 border-warning rounded-pill text-dark text-decoration-none">
            <%= link_to group_group_user_path(@group, group_user), method: :delete, data: {confirm: "本当に『#{group_user.name}さん』を退出させますか？" }, class:"text-danger text-decoration-none" do %>
              <i class="fas fa-minus-circle"></i>
            <% end %>
              <%= group_user.name %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-8">
      <table class="table text-break table-borderless table-striped table-active">
        <tbody>
          <tr>
            <th>ユーザー画像</th>
            <th>ユーザ名</th>
            <th colspan="2" class="col-3">リクエスト</th>
          </tr>
          <% @join_requests.each do |join_request| %>
            <tr>
              <td><%= image_tag join_request.end_user.get_profile_image, size: "50x50" %></td>
              <td><%= join_request.end_user.name %></td>
              <td>
                <%= link_to "承認", group_group_user_approve_path(join_request.group, join_request.end_user), class:"btn btn-primary rounded-pill border border-warning", method: :post %>
              </td>
              <td>
                <%= link_to "拒否", group_group_user_refuse_path(join_request.group, join_request.end_user), class:"btn btn-danger rounded-pill border border-warning", method: :delete, date: {confirm: "本当に拒否しますか？"} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="text-light bg-dark rounded-pill w-25 d-flex justify-content-center">
      <%= paginate @join_requests %>
    </div>
  </div>
</div>
