<h6 class="page-title mb-4  mt-3 mx-auto bg-secondary border border-primary rounded text-light">
  <b>会員一覧</b>
</h6>
<div class="row d-flex flex-wrap justify-content-center">
  <table class="col-10 table text-break table-borderless table-striped table-active">
    <tbody>
      <tr>
        <th>会員画像</th>
        <th>会員名</th>
      </tr>
      <% @end_users.each do |end_user| %>
        <tr>
          <td>
            <%= link_to admin_end_user_path(end_user) do %>
              <%= image_tag end_user.get_profile_image, size: "50x50" %>
            <% end %>
          </td>
          <td>
            <%= link_to admin_end_user_path(end_user), class:"text-light" do %>
              <%= end_user.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-light bg-dark rounded-pill w-25 d-flex justify-content-center">
    <%= paginate @end_users %>
  </div>
</div>