<div class="container text-center">
  会員詳細
  <div class="row">
    <div class="col-12 d-flex flex-wrap justify-content-center">
      <div class="col-3">
        <table class="table">
          <tbody>
            <tr>
              <td><%= image_tag @end_user.get_profile_image, size: "100x100" %></td>
            </tr>

            <tr>
              <td><%= @end_user.name %></td>
            </tr>

            <tr>
              <td><%= @end_user.email %></td>
            </tr>

            <tr>
              <td><%= link_to "登録解除", admin_end_user_path(@end_user), method: :delete, data: {confirm: "本当に削除しますか？" }, class:"btn btn-danger" %></td>
            </tr>

            <tr>
              <td>
                <h4>会員の参加グループ</h4>
              </td>
            </tr>

            <% @user_groups.each do |user_group| %>
              <tr>
                <td>
                  <%= link_to admin_group_path(user_group) do %>
                    <%= image_tag user_group.get_group_image, size: "39x39" %>
                    <%= user_group.name %>
                  <% end %>
                </td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
      <div class="col-8">
        <div class="d-flex flex-wrap">
          <% @memories.each do |memory| %>
            <div class="mx-auto mb-3 text-truncate">
              <%= link_to admin_memory_path(memory) do %>
                <%= image_tag memory.get_memory_image, size: "200x150" %><br>
                <%= memory.title %><br>
              <% end %>
              <%= memory.end_user.name %><br>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>