<div class="container text-center">
  グループ詳細
  <%= notice %>
  <div class="row">
    <div class="col-12 d-flex flex-wrap justify-content-center">

      <div class="col-3">
        <table class="table">
          <tbody>
            <tr>
              <td><%= image_tag @group.get_group_image, size: "100x100" %></td>
            </tr>

            <tr><td><%= @group.name %></td></tr>

            <tr><td><%= @group.introduction %></td></tr>

            <tr><td><%= link_to "グループ削除", admin_group_path(@group), method: :delete, data: {confirm: "本当に削除しますか？" }, class:"btn btn-danger" %></td></tr>

            <tr><td><h4>グループメンバー</h4></td></tr>

            <% @group_users.each do |group_user| %>
              <tr>
                <td>
                  <%= link_to admin_end_user_path(group_user) do %>
                    <%= image_tag group_user.get_profile_image, size: "39x39" %>
                    <%= group_user.name %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="col-8">
        <div class="d-flex flex-wrap">
          <%= @group.name %>のページ
          <%= paginate @memories %>
        </div>
        <div class="d-flex flex-wrap">
          <% @memories.each do |memory| %>
            <div class="mx-auto mb-3 text-truncate">
              <%= link_to admin_group_group_memory_path(@group, memory) do %>
                <%= image_tag memory.get_memory_image, size: "200x150" %><br>
                <%= memory.title %><br>
              <% end %>
              <%= link_to "#{memory.end_user.name}", admin_end_user_path(memory.end_user_id) %><br>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>